{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {{ dump() }}

<div class="example-wrapper">
    {{ form_start(formTicket) }}
    {{ form_widget((formTicket)) }}
    <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(formTicket) }}
</div>

<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });
    });
</script>

{% endblock %}
