{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}
{% block body %}

    <style>
        .btn {text-align: center;}
        .col-form-label {display:none;}
        .ticketlouvre { border:1px;}

    </style>



    {{ dump() }}

    <style>
        .flashmessage{color: #AA3333}
    </style>

    <div class="flashmessage">

        {% for flashMessage in app.session.flashbag.get('error') %}

            {{ flashMessage }}

        {% endfor %}

    </div>


    <h2 style="text-align: center">Réservation : Vos coordonnées </h2>

    {{ form_start(formOrder) }}
    {{ form_widget(formOrder) }}
    {{ form_errors(formOrder) }}

    <div class="well">

        <a href="#" id="add_ticket" class="btn btn-success btn-sm">Ajouter un billet</a>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            var $container = $('div#order_ticketLouvre');
            var index = $container.find(':input').length;


            $('#add_ticket').click(function(e) {
                addCategory($container);
                e.preventDefault();
                return false;
            });

            if (index == 0) {
                addCategory($container);
            } else {

                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            function addCategory($container) {
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Billet n°' + (index+1))
                    .replace(/__name__/g,        index)
                ;

                var $prototype = $(template);
                addDeleteLink($prototype);
                $container.append($prototype);
                index++;
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<a href="#" class="btn btn-danger btn-sm">Supprimer</a><br/>');
                $prototype.append($deleteLink);
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>

    <br/>
    <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(formOrder) }}

{% endblock %}

{% block javascripts %}

{% endblock %}