{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .recap {
            border: 1px solid black;
            font-size:1em;
            font-weight:bold;
            padding:10px;
            background-color: lightgray;}
        p.recap {font-size: 1em;
            background-color: #AA3333;}
        fieldset.form-group legend.col-form-label.required {display:none;}
        .comment { font-style: italic}
        .centeredblock{text-align:center;}
    </style>

<div class="recap">

    <h2 class="centeredblock">Voici un récapitulatif de votre commande</h2>

    {% for ticket in tickets %}

        <p>Nom : {{ticket.LastName }}</p>
        <p>Prenom : {{ticket.FirstName}}</p>

        {%  if ticket.HalfDay %}
            <p>Tarif demi journée</p>
        {% endif %}

        {%  if ticket.ReducedRate %}
            <p>Tarif réduit</p>
            <p class="comment">( Pensez à présenter votre justificatif le jour de la visite ) </p>
        {% endif %}

        <p>Date de visite : {{ticket.DateTicket|date('d/m/Y')}}</p>
        <hr/>

    {%  endfor %}
        <p>Montant total : {{ app.session.get('order').totalPrice }} euros </p>



    <form action={{ path('payment_validation') }} method="POST" class="centeredblock">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_HAIzVTbXuDr9O7TXd345a9Xn"
                data-amount={{ app.session.get('orderPrice')*100}},
                data-label="Payer par carte"
                data-currency='EUR'
                data-name="Louvre"
                data-description="Widget"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
        </script>
    </form>








</div>
{% endblock %}
