{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h2>Voici un récapitulatif de votre commande</h2>

    {% for ticket in tickets %}

        <h2>Nom : {{ticket.LastName }}</h2>
        <h2>Prenom : {{ticket.FirstName}}</h2>

        {%  if ticket.HalfDay %}
            <h2>Tarif demi journée</h2>
        {% endif %}

        {%  if ticket.ReducedRate %}
            <h2>Tarif réduit ( Penser à présenter votre justificatif le jour de la visite ) </h2>
        {% endif %}

        <h2>Date de visite : {{ticket.DateTicket|date('d,m,Y')}}</h2>
        <br/>

    {%  endfor %}

    {{ dump(app.session.get('orderPrice')) }}

    <form action={{ path('payment_validation') }} method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_HAIzVTbXuDr9O7TXd345a9Xn"
                data-amount={{ app.session.get('orderPrice')*100}},
                data-label="Payer par carte"
                data-currency='EUR'
                data-name="Louvre"
                data-description="Widget"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
        </script>
    </form>








</div>
{% endblock %}
